    GLOBAL_SETTINGS
    LAB_MASTER_SEED scapy-hello_student_master_seed
    REGISTRY labattt2025
NETWORK LAN1
     MASK 10.0.0.0/24
     GATEWAY 10.0.0.254
CONTAINER sender
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     LAN1 10.0.0.1
CONTAINER receiver
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     LAN1 10.0.0.2
