    GLOBAL_SETTINGS
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED web-sde_student_master_seed
    REGISTRY thanhdat317
NETWORK DMZ_LINK
     MASK 192.168.99.0/24
     GATEWAY 192.168.99.1
CONTAINER web-sde
     USER ubuntu
     X11 YES
     DMZ_LINK 192.168.99.101
CONTAINER web-sde-server
     USER ubuntu
     X11 YES
     DMZ_LINK 192.168.99.100
