GLOBAL_SETTINGS
    REGISTRY labattt2025    
    GRADE_CONTAINER client
    HOST_HOME_XFER labtainer_xfer/
    LAB_MASTER_SEED sshlab_jkhosali_master_seed
NETWORK SOME_NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.100
CONTAINER server
     USER hank
     X11 NO
     PASSWORD hank21
     SOME_NETWORK 172.20.0.3
CONTAINER client
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.0.2
