# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC: statistic about the protocol in the file pcap



statistic_protocol = boolean : _statistics and _protocol and _quiet
# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC: statistic on detected IP addresses in the form of a tree


ip_tree = boolean : _statistics and _ip_tree and _quiet
