    GLOBAL_SETTINGS
    LAB_MASTER_SEED brute-force-persistence_student_master_seed
    REGISTRY labattt2025
NETWORK LAB
     MASK 192.20.0.0/24
     GATEWAY 192.20.0.1
CONTAINER client
     USER ubuntu
     X11 YES
     LAB 192.20.0.10
CONTAINER server
     USER ubuntu
     X11 YES
     PASSWORD 123
     LAB 192.20.0.20
