# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

debug_conf = boolean : _debug_conf or _debug_conf

debug_log = time_during : _debug_auth_suc : _debug_auth_fail

compile_pam_cus = boolean : _compile_pam_cus or _compile_pam_cus

pam_custom_conf = boolean : _pam_custom_conf or _pam_custom_conf

custom_log = time_during : _custom_log_suc : _custom_log_fail
