    GLOBAL_SETTINGS
    REGISTRY ptit2026
    LAB_MASTER_SEED net_dns_sub_domain_student_master_seed
NETWORK LANNET
     MASK 192.168.14.0/24
     GATEWAY 192.168.14.100
CONTAINER server
     USER ubuntu
     X11 YES
     LANNET 192.168.14.10
     LAB_GATEWAY 192.168.14.100
     NAME_SERVER 8.8.8.8
CONTAINER client
     USER ubuntu
     X11 YES
     LANNET 192.168.14.20
     LAB_GATEWAY 192.168.14.100
     NAME_SERVER 8.8.8.8
