    GLOBAL_SETTINGS
    LAB_MASTER_SEED internet-sim4_student_master_seed
    REGISTRY labattt2025
NETWORK NET1
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.254
NETWORK NET2
     MASK 10.0.0.0/24
     GATEWAY 10.0.0.254
NETWORK NET3
     MASK 172.16.0.0/24
     GATEWAY 172.16.0.254
NETWORK NET4
     MASK 203.0.113.0/24
     GATEWAY 203.0.113.254
CONTAINER pc-lan1
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     NET1 192.168.1.2
CONTAINER pc-lan2
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     NET2 10.0.0.2
CONTAINER router
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     NET1 192.168.1.1
     NET2 10.0.0.1
     NET3 172.16.0.1
CONTAINER isp
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     NET3 172.16.0.2
     NET4 203.0.113.2
CONTAINER internet-gw
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     NET4 203.0.113.1
