# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
_size = matchany : integer_lessthan : _file_size : answer=200
personalization = matchany : string_equal : _hashcode : parameter.hash
http_get = boolean : (_src_ip_get and _des_ip_get and _src_tcp_get and _des_tcp_get)
http_200_OK = boolean : (_src_ip_200_OK and _des_ip_200_OK and _src_tcp_200_OK and _des_tcp_200_OK)
tcp_syn = boolean : (_time_for_seg and _src_ip_seg and _des_ip_seg and _src_port_seg and _des_port_seg and _time_ack)
http_get_isp = boolean : ( _src_ip_isp and _des_ip_isp and _field_different_q2)
check_field = boolean : (_check_field_changed and _field_change)
