    GLOBAL_SETTINGS
    LAB_MASTER_SEED net-dhcp-mac-config_student_master_seed
    REGISTRY ptit2026
NETWORK NETWORK-MAC
     MASK 20.20.0.0/24
     GATEWAY 20.20.0.1
CONTAINER server
     USER ubuntu
     X11 YES
     NETWORK-MAC 20.20.0.5
CONTAINER client
     USER ubuntu
     X11 YES
     NETWORK-MAC 20.20.0.11
