    GLOBAL_SETTINGS
    LAB_MASTER_SEED linux-tools_student_master_seed
    REGISTRY labattt2025
NETWORK HUEISH_NETWORKS
     MASK 172.20.1.0/24
     GATEWAY 172.20.1.100
CONTAINER client2
     USER ubuntu
     X11 YES
     HUEISH_NETWORKS 172.20.1.2
CONTAINER client1
     USER ubuntu
     X11 YES
     HUEISH_NETWORKS 172.20.1.1
