# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC: print the SSID and BSSID values for all beacon frames.
SSID_BSSID = boolean : _SSID and _BSSID
# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC: state the MAC address of the two devices that have received the deauthentication message.
MAC_address = boolean : (_deauthentication1 or _deauthentication2) and _MAC1 and _MAC2 and _uniq
# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC: filter and display deauthentication packets.

deauthentication = boolean : (_deauthentication1 or _deauthentication2) and _deauthentication3
# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC: filter and display authentication packets.

authentication = boolean : (_authentication1 or _authentication2)
