# parameter.config
# 
# Please see ..../docs/parameter.config.format
#

randport : RAND_REPLACE : friedshrimp:/etc/xinetd.d/ssh;friedshrimp:/etc/services : RANDOM_PORT : 2000 : 3000 : 1
CLIENT1_IP : RAND_REPLACE_UNIQUE : start.config : CLIENT1_IP : 10 : 150 : 1
CLIENT2_IP : RAND_REPLACE_UNIQUE : start.config : CLIENT2_IP : 10 : 150 : 1
