    GLOBAL_SETTINGS
    GRADE_CONTAINER mycomputer
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED nmap-discovery_chris_master_seed
    REGISTRY labattt2025
NETWORK INTRANET
     MASK 172.25.0.0/16
     GATEWAY 172.25.1.101
CONTAINER mycomputer
     USER ubuntu
     X11 NO
     INTRANET 172.25.0.CLIENT1_IP
CONTAINER friedshrimp
     USER ubuntu
     X11 NO
     INTRANET 172.25.0.CLIENT2_IP
