    GLOBAL_SETTINGS
    LAB_MASTER_SEED netstat1_student_master_seed
    REGISTRY labattt2025
NETWORK HUEISH_NETWORK
     MASK 172.20.1.0/24
     GATEWAY 172.20.1.100
     TAP YES
CONTAINER client1
     USER ubuntu
     X11 YES
     HUEISH_NETWORK 172.20.1.1
CONTAINER client2
     USER ubuntu
     X11 YES
     HUEISH_NETWORK 172.20.1.2
