    GLOBAL_SETTINGS
    GRADE_CONTAINER wireshark-intro
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED wireshark-intro_jean_seed
    REGISTRY leanh1
NETWORK SOME_NETWORK
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.100
CONTAINER net-wireshark-dns
     USER ubuntu
     X11 YES
     SOME_NETWORK 192.168.1.18
