    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-tcp-covert_student_master_seed
    REGISTRY longtran07
NETWORK LAN
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.100
CONTAINER send
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP 2
     LAN 172.20.0.2
CONTAINER receive
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP 1
     LAN 172.20.0.RANDOM_IP
