installed = matchany : integer_greater : _installed : answer=1000
_export_string = matchany : string_equal : _number_export : result._number_task
_export_size = matchany : integer_lessthan : _size : answer=10000
export = boolean : (_export_string and _export_size)
usermod = matchany : string_contains : _usergroup : answer=ubuntu
