    GLOBAL_SETTINGS
    LAB_MASTER_SEED mac_filtering_student_master_seed
    REGISTRY labattt2025
NETWORK LAN
     MASK 192.168.0.0/24
     GATEWAY 192.168.0.100
CONTAINER client1
     USER ubuntu
     X11 YES
     TERMINALS 0
     LAN 192.168.0.10:02:11:22:33:44:55
     LAB_GATEWAY 192.168.0.1
CONTAINER client2
     USER ubuntu
     X11 YES
     LAN 192.168.0.20:5A:65:BB:73:A3:9E
     LAB_GATEWAY 192.168.0.1
CONTAINER router
     USER ubuntu
     X11 YES
     LAN 192.168.0.1
