    GLOBAL_SETTINGS
    GRADE_CONTAINER server
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED server_mike_master_seed
    REGISTRY ptit2026
NETWORK LAN1
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
NETWORK LAN2
     MASK 172.25.2.0/24
     GATEWAY 172.25.2.101
NETWORK LAN3
     MASK 172.25.3.0/24
     GATEWAY 172.25.3.101
CONTAINER server
     USER student
     X11 YES
     PASSWORD password123
     ADD-HOST archive:172.25.3.3
     LAN1 172.25.0.2
CONTAINER router1
     USER ubuntu
     X11 NO
     TERMINALS 0
     LAN1 172.25.0.3
     LAN2 172.25.2.3
CONTAINER router2
     USER ubuntu
     X11 NO
     TERMINALS 0
     LAN2 172.25.2.4
     LAN3 172.25.3.4
CONTAINER archive
     USER student
     X11 YES
     TERMINALS 0
     PASSWORD password123
     ADD-HOST server:172.25.0.2
     LAN3 172.25.3.3
