    GLOBAL_SETTINGS
    REGISTRY ptit2026
    LAB_MASTER_SEED net-lin-mail-box_student_master_seed
NETWORK LAN
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.1
CONTAINER server
     USER ubuntu
     X11 YES
     ADD-HOST LAN
     LAN 192.168.1.10
CONTAINER client1
     USER ubuntu
     X11 YES
     ADD-HOST LAN
     LAN 192.168.1.20
CONTAINER client2
     USER ubuntu
     X11 YES
     ADD-HOST LAN
     LAN 192.168.1.30
