    GLOBAL_SETTINGS
    LAB_MASTER_SEED net_lin_dhcp_partition_config_student_master_seed
    REGISTRY ptit2026
NETWORK MANG
     MASK 40.40.1.0/24
     GATEWAY 40.40.1.1
CONTAINER server
     USER ubuntu
     X11 YES
     MANG 40.40.1.5
CONTAINER client
     USER ubuntu
     X11 YES
     MANG 40.40.1.10
CONTAINER iot
     USER ubuntu
     X11 YES
     MANG 40.40.1.15
