    GLOBAL_SETTINGS
    LAB_MASTER_SEED arp-route-lab_student_master_seed
    REGISTRY labattt2025
NETWORK NET1
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.2
NETWORK NET2
     MASK 192.168.2.0/24
     GATEWAY 192.168.2.2
CONTAINER server
     USER ubuntu
     X11 YES
     NET2 192.168.2.10
     LAB_GATEWAY 192.168.2.1
CONTAINER client
     USER ubuntu
     X11 YES
     NET1 192.168.1.10
     LAB_GATEWAY 192.168.1.1
CONTAINER router
     USER ubuntu
     X11 YES
     NET1 192.168.1.1
     NET2 192.168.2.1
