    GLOBAL_SETTINGS
    LAB_MASTER_SEED net_lin_zone_dns_student_master_seed
    REGISTRY ptit2026
NETWORK LAN
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.1
CONTAINER server
     USER ubuntu
     X11 YES
     ADD-HOST LAN
     LAN 192.168.1.10
CONTAINER client
     USER ubuntu
     X11 YES
     ADD-HOST LAN
     LAN 192.168.1.20
