# goals.config
#
# Please see the Labtainer Lab Designer User Guide

mike_server1 = boolean : (mike_server1 and mike_server1)

_pcap_small = matchany : integer_lessthan : pcap_strings : answer=20
correct_pcap = boolean : (_pcap_small and _pcap_pass)

mike_server2 = boolean : (mike_server2 and mike_server2)

mary_server1 = boolean : (mary_server1 and mary_server1)

mary_server2 = boolean : (mary_server2 and mary_server2)
