GLOBAL_SETTINGS
    REGISTRY labattt2025
    GRADE_CONTAINER client
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED vpnlabseedisnotveryhardtoguess
NETWORK SERVER_LAN
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.100
NETWORK CLIENT_LAN
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
CONTAINER server
     USER ubuntu
     X11 NO
     SERVER_LAN 172.20.0.3
CONTAINER client
     USER ubuntu
     X11 NO
     CLIENT_LAN 172.25.0.2
CONTAINER router
     USER ubuntu
     X11 NO
     SERVER_LAN 172.20.0.1
     CLIENT_LAN 172.25.0.1
