    GLOBAL_SETTINGS
    LAB_MASTER_SEED backup3_student_master_seed
    REGISTRY thanhdat317
NETWORK LAN
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.1
CONTAINER destination
     USER ubuntu
     X11 YES
     PASSWORD attt@123
     LAN 192.168.1.3
CONTAINER source
     USER ubuntu
     X11 YES
     LAN 192.168.1.4
