    GLOBAL_SETTINGS
    LAB_MASTER_SEED lab2_fw_student_master_seed
    REGISTRY labattt2025
NETWORK FW_NETWORK
     MASK 172.40.0.0/24
     GATEWAY 172.40.0.1
CONTAINER client1
     USER ubuntu
     X11 YES
     FW_NETWORK 172.40.0.3
CONTAINER client2
     USER ubuntu
     X11 YES
     FW_NETWORK 172.40.0.5
CONTAINER server
     USER ubuntu
     X11 YES
     FW_NETWORK 172.40.0.10
