    GLOBAL_SETTINGS
    REGISTRY ptit2026
    GRADE_CONTAINER web_server
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED web_lin_basic_sec_student_master_seed
NETWORK LAN1
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.101
CONTAINER web_server
     USER admin
     X11 YES
     TERMINAL_GROUP LOCAL
     LAN1 192.168.1.2
CONTAINER client
     USER ubuntu
     X11 YES
     LAN1 192.168.1.5
