#DOC: run tcpdump on router and access index.html without encryption
tcpdump_http = count_greater : 1 : (_tcpdump_run, _index_unenc)

#DOC: start VPN successfully on both server and client
vpn_running = count_greater : 1 : (_vpn_server, _vpn_client)

#DOC: access index.html via encrypted VPN tunnel
vpn_encrypt = count_greater : 1 : (_index_vpn, _tcpdump_run)
