    GLOBAL_SETTINGS
    GRADE_CONTAINER client
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED telnetlab_jean_seed
    REGISTRY labattt2025
NETWORK NETWORK1
     MASK 172.20.1.0/24
     GATEWAY 172.20.1.100
NETWORK NETWORK2
     MASK 172.20.2.0/24
     GATEWAY 172.20.2.100
NETWORK NETWORK3
     MASK 172.20.3.0/24
     GATEWAY 172.20.3.100
CONTAINER client2
     USER ubuntu
     X11 YES
     NETWORK2 172.20.2.1
CONTAINER server
     USER ubuntu
     X11 YES
     NETWORK3 172.20.3.1
CONTAINER client1
     USER ubuntu
     X11 YES
     NETWORK1 172.20.1.1
CONTAINER switch
     USER ubuntu
     X11 YES
     NETWORK1 172.20.1.2
     NETWORK2 172.20.2.2
     NETWORK3 172.20.3.2
