_testone = time_not_during : _nmapip : _ping
_testtwo = time_not_during : _ping : _nmapport
_testthree = time_not_during : _nmapip : _nmapport
_splunkweb = time_not_during : _splunk : _splunkforwader
_splunkforwaders = time_not_during : _splunkforwader : _splunk
testconnect = boolean : (_testone and _testtwo and _testthree)
splunk = boolean : (_splunkweb and _splunkforwaders)
