    GLOBAL_SETTINGS
    LAB_MASTER_SEED http-wireshark_student_master_seed
    REGISTRY labattt2025
NETWORK SOME_NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER server
     USER ubuntu
     X11 YES
     TERMINALS 0
     TERMINAL_GROUP gr1
     SOME_NETWORK 172.20.0.3
CONTAINER client
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     SOME_NETWORK 172.20.0.2
CONTAINER question
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr2
