    GLOBAL_SETTINGS
    LAB_MASTER_SEED net_resolv_dns_student_master_seed
    REGISTRY ptit2026
NETWORK LANNET
     MASK 192.168.10.0/24
     GATEWAY 192.168.10.100
CONTAINER server
     USER ubuntu
     X11 YES
     LANNET 192.168.10.10
     LAB_GATEWAY 192.168.10.100
     NAME_SERVER 8.8.8.8
CONTAINER client
     USER ubuntu
     X11 YES
     LANNET 192.168.10.20
     LAB_GATEWAY 192.168.10.100
     NAME_SERVER 8.8.8.8
     NO_RESOLVE YES
