# goals.config

# Task 1: SYN Flood
# DOC: More than 10 SYN_RECV connections observed on server during SYN flood attack
syn_flood = matchany : integer_greater : _syn_recv_count : answer=10

# Task 2: TCP RST
# DOC: TCP connection was reset by foreign host
tcp_rst = matchany : string_equal : _rst_detected : answer=True

# Task 3: Session Hijacking
# DOC: Deleted the sensitive file (delete-this.txt)
del_file = matchany : string_equal : _file_deleted : answer=True

# Task 4: Reverse Shell
# DOC: Established a reverse shell to the server
rev_shell = matchany : string_equal : _shell_established : answer=True
