    GLOBAL_SETTINGS
    LAB_MASTER_SEED net_dnsec_conf_student_master_seed
    REGISTRY ptit2026
NETWORK LANNET
     MASK 192.168.12.0/24
     GATEWAY 192.168.12.100
CONTAINER server
     USER ubuntu
     X11 YES
     LANNET 192.168.12.10
     LAB_GATEWAY 192.168.12.100
     NAME_SERVER 8.8.8.8
CONTAINER client
     USER ubuntu
     X11 YES
     LANNET 192.168.12.20
     LAB_GATEWAY 192.168.12.100
     NAME_SERVER 8.8.8.8
