    GLOBAL_SETTINGS
    LAB_MASTER_SEED kpi_lab_student_master_seed
    REGISTRY labattt2025
NETWORK LAN_NET
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.254
CONTAINER pki_lab
     USER ubuntu
     X11 YES
     LAN_NET 192.168.1.2
CONTAINER attacker
     USER ubuntu
     X11 YES
     LAN_NET 192.168.1.5
