    GLOBAL_SETTINGS
    LAB_MASTER_SEED bai4_student_master_seed
NETWORK SOME_NETWORK
     MASK 192.168.0.0/24
     GATEWAY 192.168.0.1
CONTAINER server
     USER ubuntu
     X11 YES
     TERMINALS 0
     SOME_NETWORK 192.168.0.115
CONTAINER user
     USER ubuntu
     X11 YES
     TERMINALS 2
     SOME_NETWORK 192.168.0.27
