    GLOBAL_SETTINGS
    GRADE_CONTAINER snort
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED snort_mike_master_seed
    REGISTRY labattt2025
NETWORK LAN
     MASK 172.168.1.0/24
     GATEWAY 172.168.1.101
NETWORK WAN
     MASK 10.10.19.0/24
     GATEWAY 10.10.19.101
CONTAINER server
     USER hacker
     X11 YES
     TERMINAL_GROUP 1
     WAN 10.10.19.5
CONTAINER client
     USER victim
     X11 YES
     TERMINAL_GROUP 1
     LAN 172.168.1.4
CONTAINER snort
     USER ubuntu
     X11 YES
     LAN 172.168.1.3
CONTAINER gateway
     USER ubuntu
     X11 YES
     TERMINALS 0
     WAN 10.10.19.10
     LAN 172.168.1.10
