    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-dns-attack-local_student_master_seed
    REGISTRY labattt2025
NETWORK SOME_NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER attacker
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.0.103
CONTAINER client
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.0.102
CONTAINER master
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.0.100
CONTAINER slave
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.0.101
