# goals.config
# 
# Please see the Labtainer Lab Designer Guide
#
# results of nmap should show ssh & http, but not telnet
#

# group results into time ranges delimited by iptables commands
_ssh = matchany : string_equal : _ssh_open : answer=open
_telnet = matchany : string_equal : _telnet_open : answer=open
ports_ok = boolean : ( _ssh and _telnet)
iptables_ok = boolean : ( _telnet and_not _ssh )
sshview = matchany : string_equal : fileview : parameter.FSTRING
