_size = matchany : integer_lessthan : packet_size : answer=1000
# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC: student export the first packet and print its content


export_packet = boolean : (_size and _string)
# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC: A unique hash is generated to identify each student's submission

personalization = matchany : string_equal : _hashcode : parameter.hash
