log1 : RAND_REPLACE : client:logall.csv : LOG_RANDOM : 000000 : 999999 : 1
log2 : RAND_REPLACE : client:useradd.csv : USER_RANDOM : 000000 : 999999 : 1
log3 : RAND_REPLACE : client:report.csv : REPORT_RANDOM : 000000 : 999999 : 1
log4 : RAND_REPLACE : client:dashboard.csv : DASHBOARD_RANDOM : 000000 : 999999 : 1
log5 : RAND_REPLACE : client:alert.csv : ALER_RANDOM : 000000 : 999999 : 1
