    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-splunk-n13_student_master_seed
    REGISTRY nguyenthikhuyen109
NETWORK SOME_NETWORK
     MASK 172.10.0.0/24
     GATEWAY 172.10.0.1
CONTAINER client
     USER ubuntu
     X11 YES
CONTAINER server
     USER ubuntu
     X11 YES
CONTAINER splunk
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.10.0.10
