    GLOBAL_SETTINGS
    LAB_MASTER_SEED subnet_route_student_master_seed
    REGISTRY labattt2025
NETWORK LAN1
     MASK 172.16.1.0/24
     GATEWAY 172.16.1.254
NETWORK LAN2
     MASK 172.16.2.0/24
     GATEWAY 172.16.2.254
NETWORK LAN3
     MASK 172.16.3.0/24
     GATEWAY 172.16.3.254
CONTAINER client1
     USER ubuntu
     X11 YES
     LAN1 172.16.1.2
     LAB_GATEWAY 172.16.1.1
CONTAINER router1
     USER ubuntu
     X11 YES
     LAN1 172.16.1.1
     LAN2 172.16.2.1
     NO_GW YES
CONTAINER client2
     USER ubuntu
     X11 YES
     LAN3 172.16.3.2
     LAB_GATEWAY 172.16.3.1
CONTAINER router2
     USER ubuntu
     X11 YES
     LAN2 172.16.2.2
     LAN3 172.16.3.1
     NO_GW YES
