_scan_tcp_network = boolean : _scan_tcp and _scan_service_http
_scan_udp_network = boolean : _scan_udp and _scan_service_snmp

# DOC: Use Nmap to discover HTTP (TCP) and SNMP (UDP) running services
scan_network = count_greater : 1 : (_scan_tcp_network, _scan_udp_network)

# DOC: Brute force the SNMP community string and enumerate process information
snmp_enum = count_greater : 1 : (_brute_force, _enum_info)

# DOC: Successfully access the auth server and capture the flag
get_flag = matchany : string_contains : _get_flag_result : parameter.flag_

