#DOC: Student found setuid files on the system
find_suid = matchany : string_equal : _find_suid : answer=True
#DOC: Student confirmed running setuid file as root
exec_root = matchany : string_equal : _exec_root : answer=True
#DOC: Student executed python script and generated hash
run_py = matchany : string_equal : _run_py : answer=True
