    GLOBAL_SETTINGS
    LAB_MASTER_SEED lab_subnet_student_master_seed
    REGISTRY labattt2025
NETWORK LAN1
     MASK 172.20.1.0/24
     GATEWAY 172.20.1.1
NETWORK LAN2
     MASK 172.20.2.0/24
     GATEWAY 172.20.2.1
CONTAINER pc1
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     LAN1 172.20.1.10
CONTAINER pc2
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     LAN2 172.20.2.10
CONTAINER router
     USER ubuntu
     X11 YES
     TERMINAL_GROUP gr1
     LAN1 172.20.1.2
     LAN2 172.20.2.2
