cmd_ls = value : cmd_ls
cmd_ll = value : cmd_ll
cmd_mkdir = value : cmd_mkdir
cmd_cd = value : cmd_cd
cmd_mv = value : cmd_mv
cmd_cp = value : cmd_cp
cmd_rm = value : cmd_rm
cmd_rmdir = value : cmd_rmdir
cmd_cat_passwd = value : cmd_cat_passwd
cmd_echo = value : cmd_echo
cmd_clear = value : cmd_clear
cmd_more = value : cmd_more
cmd_echo_test = value : cmd_echo_test
cmd_cat_list = value : cmd_cat_list
cmd_man = value : cmd_man
cmd_grep = value : cmd_grep
cmd_find = value : cmd_find
cmd_sudo = value : cmd_sudo
cmd_chmod = value : cmd_chmod
cmd_ps = value : cmd_ps
cmd_kill = value : cmd_kill
cmd_who = value : cmd_who
cmd_nano = value : cmd_nano
cmd_history = value : cmd_history
cmd_ping = value : cmd_ping
cmd_run_pinger = value : cmd_run_pinger
cmd_which = value : cmd_which
