# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC:  filters for DNS query packets, displays the packet number and queried domain name, and shows only the first line.





first_dns_query = boolean : (_frame and _domain and _first_line and _first_dns_query)
# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC:  filters for DNS packets with A record queries, and displays the queried domain names.







A_record_domains = boolean : (_field  and _domain )
# results.config
# 
# Please see the Labtainer Lab Designer User Guide
#
# DOC:  filtering and displaying the frame number along with the  destination and source IP addresses queried in DNS packets containing the domain name 'youtube.com'





ip_youtube = boolean : (_ip_yt_1 and _ip_yt_2 and _youtube)
