    GLOBAL_SETTINGS
    LAB_MASTER_SEED os12_student_master_seed
    REGISTRY labattt2025
NETWORK NET
     MASK 192.168.0.0/24
     GATEWAY 192.168.0.1
CONTAINER manager
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP 1
     NET 192.168.0.RAND_IP
CONTAINER server
     USER ubuntu
     X11 YES
     TERMINAL_GROUP 2
     PASSWORD ubuntu
     NET 192.168.0.RAND2_IP2
CONTAINER attacker
     USER ubuntu
     X11 YES
     TERMINAL_GROUP 2
     NET 192.168.0.4
