    GLOBAL_SETTINGS
    LAB_MASTER_SEED ssrf-nhom01-v2_student_master_seed
    REGISTRY thanhdat317
NETWORK LOCAL
     MASK 100.0.0.0/24
     GATEWAY 100.0.0.1
CONTAINER web-server
     USER admin
     X11 YES
     PASSWORD ssrf
     LOCAL 100.0.0.15
CONTAINER client
     USER ubuntu
     X11 YES
     LOCAL 100.0.0.2
