    GLOBAL_SETTINGS
    LAB_MASTER_SEED lab_hping3_student_master_seed
    REGISTRY labattt2025
NETWORK SOME_NETWORK
     MASK 10.10.0.0/24
     GATEWAY 10.10.0.1
CONTAINER victim
     USER ubuntu
     X11 YES
     SOME_NETWORK 10.10.0.10
CONTAINER attacker
     USER ubuntu
     X11 YES
     SOME_NETWORK 10.10.0.20
