    GLOBAL_SETTINGS
    GRADE_CONTAINER web_server
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED web_nginx_config_master_seed
    REGISTRY ptit2026
NETWORK LAN1
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.101
CONTAINER web_server
     USER admin
     X11 YES
     TERMINAL_GROUP LOCAL
     LAN1 192.168.1.2
