    GLOBAL_SETTINGS
    LAB_MASTER_SEED network-basics_mike_master_seed
NETWORK CLIENT_NET
     MASK 192.168.101.0/24
     GATEWAY 192.168.101.1
NETWORK SOME_NETWORK
     MASK 192.168.102.0/24
     GATEWAY 192.168.102.1
NETWORK SOME_NETWORK2
     MASK 192.168.103.0/24
     GATEWAY 192.168.103.1
NETWORK SERVER_NET
     MASK 192.168.104.0/24
     GATEWAY 192.168.104.1
CONTAINER client
     USER ubuntu
     X11 YES
     CLIENT_NET 192.168.101.2
CONTAINER server
     USER ubuntu
     X11 YES
     SERVER_NET 192.168.104.3
CONTAINER router1
     USER ubuntu
     X11 YES
     CLIENT_NET 192.168.101.3
     SOME_NETWORK 192.168.102.2
CONTAINER router2
     USER ubuntu
     X11 YES
     SOME_NETWORK 192.168.102.3
     SOME_NETWORK2 192.168.103.2
CONTAINER router3
     USER ubuntu
     X11 YES
     SERVER_NET 192.168.104.2
     SOME_NETWORK2 192.168.103.3
