# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: count of use of nmap -sP (ping)
count_ping = count : _nmap_ping

#DOC: scan TCP ports of detected machine
count_scan_tcp = count : _nmap_scan_tcp

#DOC: scan UDP ports of detected machine
count_scan_udp = count : _nmap_scan_udp

#DOC: scan ports by SYN scan of detected machine
count_scan_syn = count : _nmap_scan_syn

#DOC: scan TCP ports using SYN scan of all machines in LAN
count_scan_synall = count : _nmap_scan_syn_all

#DOC: scan to detect OS info of detected machine
count_scan_os = count : _nmap_scan_os

#DOC: scan to find detailed info of a specific service on detected machine
count_scan_servicedetail = count : _nmap_scan_servicedetails

#DOC: scan with script 
count_scan_script = count : _nmap_scan_scriptz

#DOC: scan and send output results to a file
count_scan_output = count : _nmap_scan_output
