    GLOBAL_SETTINGS
    GRADE_CONTAINER web-server
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED sql-inject_mike_master_seed
    REGISTRY labattt2025
NETWORK SOME_NETWORK
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.101
CONTAINER web-server
     USER student
     X11 NO
     PASSWORD password123
     SOME_NETWORK 172.25.0.3
CONTAINER client
     USER student
     X11 YES
     PASSWORD password123
     ADD-HOST seedlabsqlinjection.com:172.25.0.3
     ADD-HOST www.seedlabsqlinjection.com:172.25.0.3
     SOME_NETWORK 172.25.0.2
